@import url(main-style.css);

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(333deg, hsla(119,47%,93%,0.05) 0px, hsla(119,47%,93%,0.05) 1px,transparent 1px, transparent 11px,hsla(119,47%,93%,0.05) 11px, hsla(119,47%,93%,0.15) 12px,transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(119,47%,93%,0.05) 0px, hsla(119,47%,93%,0.05) 1px,transparent 1px, transparent 11px,hsla(119,47%,93%,0.05) 11px, hsla(119,47%,93%,0.15) 12px,transparent 12px, transparent 32px), repeating-linear-gradient(135deg, hsla(119,47%,93%,0.05) 0px, hsla(119,47%,93%,0.05) 1px,transparent 1px, transparent 11px,hsla(119,47%,93%,0.05) 11px, hsla(119,47%,93%,0.15) 12px,transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(119,47%,93%,0.05) 0px, hsla(119,47%,93%,0.05) 1px,transparent 1px, transparent 11px,hsla(119,47%,93%,0.05) 11px, hsla(119,47%,93%,0.15) 12px,transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(119,47%,93%,0.05) 0px, hsla(119,47%,93%,0.05) 1px,transparent 1px, transparent 11px,hsla(119,47%,93%,0.05) 11px, hsla(119,47%,93%,0.15) 12px,transparent 12px, transparent 32px), linear-gradient(90deg, rgb(130, 26, 221),rgb(63, 178, 202));
}

input,
button {
    border: none;
}

button {
    cursor: pointer;
}

#calculator {
    background: #ffffff;
    box-shadow: 0 0 20px 2px #000000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    width: 325px;
    padding: 1.25rem;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}